#keyboard {
    width: 705px;
    height: 235px;
    margin-top: -270px;
    margin-left: auto;
    margin-right: auto;
    background: #AAA;
    padding: 10px;
    border-radius: 15px;
}
.keyrow {
    position:relative;
    overflow:auto;
}
.key {
    background: #FFF;
    border-radius: 5px;
    float: left;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    width: 45px;
    margin: 1px;
    text-align: center;
}
#hands {
    width: 1100px;
    height: 250px;
    margin-top: -235px;
    margin-left: auto;
    margin-right: auto;
}
#left_hand, #right_hand, #right_hand > div, #left_hand > div {
    float: left;
    width: 220px;
    height: 250px;
    /*position: relative;*/
    /*z-index: 0;*/
}
#hand_spacer {
    width: 660px;
    height: 250px;
    float: left;
    position: relative;
}
#left_hand {
    background: url(../img/handl.png) no-repeat;
}
#right_hand {
    background: url(../img/handr.png) no-repeat;
}
.initial {
    margin: 0;
    padding: 0;
    color: white;
    background: #41A7FC;
}