body {
    padding-top: 20px;
    padding-bottom: 60px;
    min-width: 600px;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}
.jumbotron {
    margin: 80px 0;
    padding: 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.com {
    font-weight: normal;
}

.jumbotron h1 .initial {
    font-size: 112px;
}
.consolas {
    font-family: Consolas;
}