.vertical_fill, html, body {
    height: 99%;
    min-height: 600px;
}
body {
    background: #2a313a;
    min-width: 700px;
}
.error {
    background: none;
    background: #D74A38;
    color: white;
}
#text {
    margin-top: 12px;
    max-width: 800px;
    padding: 20px;
    border: 1px solid grey;
    font-size: 24px;
    line-height: 100%;
    background: white;
    border-radius: 6px;
    height: 93%;
    word-break: break-all;
}
#text h1, #text h2 {
    text-align: center;
}